* {
    box-sizing: border-box;
}

body {
    font-family: 'Balsamiq Sans', cursive;
    background-color: #9505a6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgba(255,255,255, 0.8);
    border: 2px solid #000;
    position: relative;
}

.clock .number {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    transform: rotate(var(--rotate));
}

.number1 {--rotate: 30deg;} 
.number2 {--rotate: 60deg;} 
.number3 {--rotate: 90deg;} 
.number4 {--rotate: 120deg;} 
.number5 {--rotate: 150deg;} 
.number6 {--rotate: 180deg;} 
.number7 {--rotate: 210deg;} 
.number8 {--rotate: 240deg;} 
.number9 {--rotate: 270deg;} 
.number10 {--rotate: 300deg;} 
.number11 {--rotate: 330deg;}

.clock .hand {
    --rotate: 0;
    position: absolute;
    left: 50%;
    bottom: 50%;
    width: 10px;
    height: 50%;
    background-color: #000;
    z-index: 10;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotate) * 1deg));
}

.clock::after {
    position: absolute;
    left: 50%;
    top: 50%;
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #000; 
    z-index: 11;
    transform: translate(-50%, -50%);
}

.clock .hand.second {
    width: 3px;
    height: 45%;
    background-color: #ff0000;
}

.clock .hand.minute {
    width: 7px;
    height: 40%;
    background-color: #000;
}

.clock .hand.hour {
    width: 10px;
    height: 35%;
    background-color: #000;
}